:root {
  --danger-color: #EF9A9A; /* Pastel Red */
  --success-color: #A5D6A7; /* Pastel Green */
  --primary-color: #81D4FA; /* Pastel Blue */
  --warning-color: #FFD54F; /* Pastel Yellow */
  --new-color: #B39DDB; /* Pastel Orange */
  --info-color: #80CBC4; /* Pastel Purple */
  --dark-color: #ffcc99; /* Pastel Dark */
  --edit-color: #E0E0E0; /* Pastel Dark */
  --delete-color: #F4511E; /* Pastel Dark */
}

/* Example usage on Bootstrap buttons */
.btn-primary {
  background-color: var(--primary-color);
  border-color: #29B6F6;
  color: #fff;
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
}

.btn-success {
  background-color: var(--success-color);
  border-color: #66BB6A;
  color: #fff;
}

.btn-warning {
  background-color: var(--warning-color);
  border-color: #FFC107;
  color: #fff;
}

.btn-danger {
  background-color: var(--danger-color);
  border-color: #EF5350;
  color: #fff;
}

.btn-info {
  background-color: var(--info-color);
  border-color: #26A69A;
  color: #fff;
}


.btn-new {
  background-color: var(--new-color);
  border-color: #7E57C2;
  color: #fff;
}
.btn-new:hover {
  background-color: #5E35B1;  
  color: #fff;
}

.btn-edit {
  background-color: var(--edit-color);
  border-color: #BDBDBD;
  color: #000;
}
.btn-edit:hover {
  background-color: #757575;
  border-color: #757575;
  color: #fff;
}

.list-group-item {
    position: relative;
}

.note-content {
    margin-bottom: 10px;
}

.note-date {
    font-size: 10px;
    color: #888;
}

/* Hide export button on mobile devices */
@media only screen and (max-width: 600px) {
    .app-title {
      display: none;
    }
  }
  
  #note-list {
    display: flex;
  }

  .list-group-item:first-child {
    margin-top: 0 ;
    border-top-right-radius: .25rem ;
    border-top-left-radius: .25rem ;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-left-radius: .25rem ;
    border-bottom-right-radius: .25rem ;
    border-top-right-radius: 0 ;
    border-top-left-radius: 0 ;
}

/* Add a class to style the note item */
.note-item {
  /* Add your desired styles for the note item */
  padding: 10px;
  margin-bottom: 10px;
}

/* Style the color picker */
#note-color {
  width: 50px;
  height: 30px;
  vertical-align: middle;
  margin-left: 10px;
}

.color-buttons {
  display: flex;
}

.color-button {
  width: 20px;
  height: 20px;
  border: 1px solid lightgray;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
}


.form-group {
  margin-bottom: 15px;
}